<% if (page.comments){ %>
<section id="comment">
  <div id="disqus_thread" aria-live="polite">
    <a class="muut" href="https://muut.com/i/mikedeboer/comments" type="dynamic">mikedeboer forum</a>
    <script src="//cdn.muut.com/1/moot.min.js"></script>
  </div>
</section>
<% } %>
